* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--max-mobile-width: 640px;
	--black: #333;
	--header-bgc: rgb(152, 230, 191);
	--nav-bgc: #9d9;
	--content-bgc: rgb(247, 247, 223);
}

html {
	font-size: 12px;
}

@media (min-width: 640px) {
	html {
		font-size: 16px;
	}
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

.site-wrap {
	height: 100%;
	display: grid;
	grid-template-rows: 120px 70px auto;

	grid-template-areas:
		"header"
		"nav"
		"content"
}

header {
	grid-area: header;
	background-color: var(--header-bgc);
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: 3rem;
}

nav {
	grid-area: nav;
	background-color: var(--nav-bgc);

	display: flex;
	justify-content: center;
	align-items: center;
}

nav a {
	display: block;
	flex: 0 0 80px;
	text-decoration: none;
	margin: 0 1rem;
	transition: transform 0.3s ease;
}

nav a img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.content {
	grid-area: content;
	height: 100%;
	background-color: var(--content-bgc);
}

nav a:hover {
	transform: scale(1.2);
}


